body{
    margin:100px;
  }
  .wrapper{
      perspective:500px;
  }
  .flp-card{
    width:150px;
    height:200px;
    transform-style:preserve-3d;
    position:relative;
    transition:transform .5s linear;
  }
  
  .back{
    position:absolute;
    backface-visibility:hidden;
    background:lightblue;
    transform:rotateY(180deg);
    width:100%;
    height:100%;
    
  }
  .front{
    position:absolute;
    background:lightcoral;
    width:100%;
    height:100%;
    backface-visibility:hidden;
  }
  .flip{
    transform:rotateY(-180deg);
  }